ENVIRONMENT=development
DEBUG=true

HUGGINGFACE_TOKEN=

POSTGRES_USER=vozfi
POSTGRES_PASSWORD=vozfi
POSTGRES_DB=vozfi
DATABASE_URL=postgresql+psycopg://vozfi:vozfi@postgres:5432/vozfi

CORS_ORIGINS=["http://localhost:3000"]